.step-wrapper {
  margin: 0 0 20px;
  display: table;
  width: 100%;
  .item {
    padding: 12px 12px 10px;
    width: 33.33333%;
    float: left;
    font: 21px/20px "Flame-Regular";
    text-align: center;
    color: #c5a997;
    background-color: #fcebd9;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    &:first-child {
      border-radius: 5px 0 0 5px;
    }
    &.active {
      background-color: #faaf18;
      color: #8b542f;
      &:before {
        content: '';
        width: 32px;
        height: 32px;
        position: absolute;
        right: -16px;
        top: 6px;
        transform: rotate(45deg);
        background: #faaf18;
        border-radius: 2px 5px 2px 0;
        z-index: 2;
      }
    }
    & span {
      font-size: 12px;
      border-radius: 50%;
      display: inline-block;
      color: white;
      background-color: #c5a997;
      margin-right: 5px;
    }
  }
}