$gold-add: #8b542f;
.right-product {
  border-left: 1px solid #e0e0e0;
  margin-top: -20px;
  margin-bottom: -20px;
  padding-top: 20px;
  padding-bottom: 20px;
  .price {
    font-size: 24px;
    font-weight: bold;
  }
  .add-on {
    font-size: 13px;
    color: $gold-add;
  }
  .quantity {
    display: flex;
    justify-content: space-between;
  }
}